# Secrets and environment files
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
venv/
.env/
.venv/
env/

# Streamlit and cache
.streamlit/
.cache/

# IDE & system files
.vscode/
.idea/
.DS_Store
